apiVersion: batch/v1
kind: CronJob
metadata:
  name: health-checker-cron
spec:
  schedule: "*/1 * * * *" # Runs every 5 minutes; adjust the interval as needed
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: health-checker
            image: health-checker:local
            imagePullPolicy: Never
            args: ["python", "health_checker.py"]
          restartPolicy: OnFailure
